.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    margin:0;
    /* background-color: blue; */
}

.gui {
    border-style: double;
    background-color: #646464;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.matrixADSRcontainer{
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 10px, 10px, 10px;
  column-count: 5;

}

.delaycontainer > input{
  color: #056364;
  padding: 0rem;
  border-width: 10px;
  border-style: inset;
  border-collapse: separate;
  background-color: #056364;
}

.delaycontainer{
  color: white;
  background-color: #123456;
  border-style: dashed;

}

.matrixADSRcontainer > input{
  color: #056364;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;
  border-collapse: separate;
  background-color: #c9c9c9;
}

.matrixADSRcontainer{
  background-color: #888888;
  border-style: inset;
  border-radius: 150px;
}
